[hidden] { display: none !important; }

.p2p, .p2p *,
.p2p-drop, .p2p-drop * {
	font-family: "Trebuchet MS", "Helvetica CY", sans-serif;
}

.p2p-tp-black { background: rgba(0, 0, 0, .85) }

.p2p {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	padding: 8px;
	border-radius: 0 0 3px 0;
	overflow: hidden;
	-webkit-transition: width 0.4s;
	-moz-transition: width 0.4s;
	transition: width 0.4s;
}

.p2p:hover { width: 232px; }

.p2p__line {
	height: 32px;
	width: 400px;
	margin-top: 0;
	margin-left: -8px;
	clear: both;
}

.p2p__cell {
	float: left;
	font-size: 16px;
	width: 32px;
	height: 32px;
	margin: 0 0 0 8px;
}

.p2p__btn {
	display: block;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
	height: 32px;

	border: 0;
	border-radius: 3px;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.p2p__btn:active {
	position: relative;
	top: 1px;
}
.p2p__btn.p2p-disable { opacity: 0.5; }
.p2p__btn.p2p-disable:active { top: 0; }

.p2p-drop {
	position: fixed;
	display: table;
	width: 100%;
	height: 100%;
    border-spacing: 30px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}

.p2p-drop__centered {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	border-radius: 30px;
	height: 100%;
	padding: 3px;
	text-align: center;
	white-space: nowrap;
}

.pp-drag .p2p-drop__centered {
	padding: 0;
	border: 3px dashed #fff;
}

.p2p-drop__text-box {
	position: relative;
	z-index: 5;
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	border: 1px solid #165563;
	border-radius: 4px;
	background: #f2f6f6;
	box-shadow: 0 0 20px 0 #333;
}

.pp-drag .p2p-drop__text-box {
	display: none;
}

.p2p-drop__text-box p {
	font-size: 32px;
	text-transform: uppercase;
	color: #165563;
	padding: 0 10px;
}

.p2p-drop__text-box p:first-child {
	margin-top: 0 !important;
}

.p2p-drop__text-box p + p + p {
	font-size: 18px;
}

.p2p-drop__text-box p,
.p2p-drop__text-box input {
	margin: 10px 0;
}

.p2p-drop__file-box {
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-size: 32px;

	display: block;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	height: 40px;
	background-color: rgb(90, 153, 167);
	border-radius: 3px;
}
.p2p-drop__file-box:active {
	box-shadow: inset 0 2px 5px #000;
	line-height: 44px;
}
.p2p-drop__file-box input {
	position: absolute;
	cursor: pointer;
	left: 0;
	top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
	width: 100%;
	height: 100%;
    opacity: 0;
}

.p2p-drop__text {
	display: inline-block;
	font-size: 18px;
	vertical-align: top;
	padding: 10px;
	height: 18px;
	width: 298px;
	border: 1px solid #165563;
	border-radius: 3px;
	margin-bottom: 0;
	margin-top: 0;
}


/* ICONS */

.p2p__icon {
	background-position: 50%;
	background-repeat: no-repeat;
}


.p2p__icon.p2p__icon_power,
.p2p__icon.p2p__icon_power.p2p-disable:active {
	background-image: url(icons/visible.png);
}
.p2p__icon.p2p__icon_power:active,
.p2p__icon.p2p__icon_power.active,
.p2p__icon.p2p__icon_power.active.p2p-disable:active {
	background-image: url(icons/__visible.png);
}


.p2p__icon.p2p__icon_pin,
.p2p__icon.p2p__icon_pin.p2p-disable:active {
	background-image: url(icons/lock.png);
}
.p2p__icon.p2p__icon_pin:active,
.p2p__icon.p2p__icon_pin.active,
.p2p__icon.p2p__icon_pin.active.p2p-disable:active {
	background-image: url(icons/_lock.png);
}


.p2p__icon.p2p__icon_edit,
.p2p__icon.p2p__icon_edit.p2p-disable:active {
	background-image: url(icons/picture_filled.png);
}
.p2p__icon.p2p__icon_edit:active,
.p2p__icon.p2p__icon_edit.active,
.p2p__icon.p2p__icon_edit.active.p2p-disable:active {
	background-image: url(icons/_picture_filled.png);
}


.p2p__icon.p2p__icon_shadow,
.p2p__icon.p2p__icon_shadow.p2p-disable:active {
	background-image: url(icons/flash_light.png);
}
.p2p__icon.p2p__icon_shadow:active,
.p2p__icon.p2p__icon_shadow.active,
.p2p__icon.p2p__icon_shadow.active.p2p-disable:active {
	background-image: url(icons/_flash_light.png);
}


.p2p__icon.p2p__icon_plus  {
	background-image: url(icons/plus.png);
}
.p2p__icon.p2p__icon_plus:active,
.p2p__icon.p2p__icon_plus.active {
	background-image: url(icons/plus.png);
}


.p2p__icon.p2p__icon_minus {
	background-image: url(icons/minus.png);
}
.p2p__icon.p2p__icon_minus:active,
.p2p__icon.p2p__icon_minus.active {
	background-image: url(icons/minus.png);
}